<footer
  class="text-center mt-3 p-2 fixed-bottom"
  style="background-color: rgb(245, 245, 236) !important"
>
    <p class="text-center" style="font-size:13px;">Copyright @ 2024, MenuVista-All Right Reserved.</p>
    <!-- Scroll to Top Button -->
  <button id="scrollToTop" class="btn btn-primary mb-5">
      <i class="fa-solid fa-chevron-up"></i>
    </button>
</footer>
