<% layout("/layouts/boilerplate")%>
<body>
  <!-- Top Section -->
  <div class="container-top ml-auto mr-auto mb-custom">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>
          <strong style="color: rgb(65, 65, 65)"> Menuvista</strong>
        </h2>
        <p>
          Menuvista revolutionizes dining with instant, interactive menus right
          on your smartphone. Scan our QR code and access a restaurant’s full
          menu in seconds—no paper, no wait. Enjoy a sleek, modern dining
          experience that puts every dish at your fingertips, making every meal
          a delight with Menuvista.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/pic1.jpg"
          class="img-fluid main-image"
          alt="Main Image"
        />
      </div>
    </div>
  </div>

  <!-- Explore Section -->
  <div class="container my-4 mt-custom">
    <h1 class="text-center mb-5">Explore our trusted Restaurants</h1>

    <div
      id="verticalCarousel"
      class="carousel slide carousel-vertical"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title px-2">MATTONE</h3>
              <img
                src="/assets/restaurant1.jpg"
                class="card-img-top"
                alt="MATTONE"
              />
              <p class="card-text px-3">
                Mattone Restaurant invites diners into a contemporary setting
                where classic Italian flavors take center stage. With its focus
                on wood-fired pizzas and other delectable Italian fare, the
                restaurant has carved a niche for itself. The ambiance is casual
                yet sophisticated, making it suitable for both relaxed
                gatherings and special occasions.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title px-2">CAFE BAR LE NEMOURS</h3>
              <img
                src="/assets/restaurant2.jpg"
                class="card-img-top"
                alt="CAFE BAR LE NUMOURS"
              />
              <p class="card-text px-3">
                Cafe Bar le Nemours offers a Parisian escape with its elegant
                terrace and classic brasserie fare. Situated amidst the Louvre's
                grandeur, the cafe boasts a prime location for people-watching
                and soaking in the city's ambiance. With a menu featuring fresh,
                homemade delights and a warm, inviting atmosphere, Le Nemours is
                a quintessential Parisian experience.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title px-2">CAFETERIA</h3>
              <img
                src="/assets/restaurant3.jpg"
                class="card-img-top"
                alt="CAFETERIA"
              />
              <p class="card-text px-3">
                A cafeteria offers a bustling hub of diverse culinary options.
                With its self-service format and wide array of dishes, it caters
                to a variety of tastes and dietary needs. From classic comfort
                foods to international cuisines, the cafeteria provides a
                convenient and affordable dining experience, often characterized
                by a lively atmosphere and a constant stream of patrons.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title px-2">LA VITA VINO</h3>
              <img
                src="/assets/restaurant4.jpg"
                class="card-img-top"
                alt="LA VITA VINO"
              />
              <p class="card-text px-3">
                La Vita Vino offers an enchanting escape into the world of wine
                and Italian cuisine. With a carefully curated selection of both,
                the restaurant provides a sophisticated ambiance perfect for
                intimate gatherings or leisurely evenings. From classic Italian
                dishes to innovative creations, the menu pairs seamlessly with
                the extensive wine list, creating a harmonious culinary
                experience.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title px-2">GREEN CAFFE NERO</h3>
              <img
                src="/assets/restaurant5.jpg"
                class="card-img-top"
                alt="GREEN CAFFE NERO"
              />
              <p class="card-text px-3">
                Green Caffè Nero offers a welcoming oasis for coffee
                connoisseurs and casual diners alike. With a focus on premium
                Italian coffee and a relaxed atmosphere, the cafe provides a
                comforting space to unwind and savor delicious treats. From
                expertly brewed espresso to delectable pastries, Green Caffè
                Nero caters to a variety of tastes and preferences, making it a
                popular destination for coffee lovers and social gatherings.
              </p>
            </div>
          </div>
        </div>
        <!-- Add more carousel items as needed -->
      </div>
    </div>
  </div>

  <!-- Users section -->
  <div class="container mt-5 p-3">
    <h1 class="text-center mb-4">Our Community</h1>

    <div class="row">
      <div class="col-md-4 text-center">
        <h3 id="restaurants-count">0K</h3>
        <h2>Restaurants</h2>
      </div>
      <div class="col-md-4 text-center">
        <h3 id="customers-count">0K</h3>
        <h2>Customers</h2>
      </div>
      <div class="col-md-4 text-center">
        <h3 id="reviews-count">0K</h3>
        <h2>Reviews</h2>
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="container mb-custom mt-custom" id="about">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2>About Us</h2>
          <p>
            Welcome to our platform, your partner in crafting exceptional
            digital menus. Our mission is to empower restaurants like yours to
            showcase your culinary artistry in the most engaging way. With our
            user-friendly tools, you can effortlessly design stunning menus that
            reflect your brand identity and tantalize taste buds. Let us help
            you elevate your dining experience. <br />
            <i
              >Thank you for visit&nbsp;<i class="fa-solid fa-face-smile"></i
            ></i>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/picture2.jpeg"
          class="img-fluid custom-rounded"
          alt="About Picture"
        />
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer mt-5 mb-custom" id="contact">
    <h3 class="text-center mb-5">Get in touch</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-2 sub-heading">Contact Us</h5>
          <div class="contact-info contact-place">
            <i class="fas fa-phone sub-icon"></i>&nbsp;&nbsp;
            <span>+91&nbsp;<a href="tel:7897390425">7897390425</a></span>
          </div>
          <div class="contact-info contact-place">
            <i class="fas fa-envelope sub-icon"></i>&nbsp;&nbsp;
            <span
              ><a href="mailto:adityaverma3904@gmail.com"
                >adityaverma8392@gmail.com</a
              ></span
            >
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="mb-2 sub-heading">Address</h5>
          <div class="contact-info">
            <i class="fas fa-map-marker-alt sub-icon"></i>&nbsp;&nbsp;
            <a
              href="https://www.google.com/maps/place/Redac+Enterprise/@26.4043853,80.3107377,97m/data=!3m1!1e3!4m15!1m8!3m7!1s0x399c4644f76897c1:0x7f67c270764c875f!2sNarayanpuri,+Naubasta,+Kanpur,+Uttar+Pradesh+208021!3b1!8m2!3d26.4048907!4d80.3078089!16s%2Fg%2F11bylbhtxn!3m5!1s0x399c47a6c529cafb:0x7fed22aeae353d15!8m2!3d26.4043074!4d80.3107234!16s%2Fg%2F11svs93p2n!5m1!1e4?entry=ttu"
              >Kanpur Nagar, India</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="mb-2 sub-heading">Follow Us</h5>
          <div class="social-icons">
            <a
              href="https://www.facebook.com/profile.php?id=100068439032000"
              class="mr-3 me-3"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://x.com/AdityaV37711561" class="m-3 me-3">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/aditya-verma-569357234/"
              class="m-3 me-3"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a
              href="https://www.instagram.com/_itz._aditya__/"
              class="m-3 me-3"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
