<%layout("/layouts/boilerplate")%>
<body>
  <div
    class="mt-custom p-3"
  >
      <!-- Right Side -->
      <div class="left user-form">
        <div class="form-container">
          <h2 class="text-center">Create Your Account</h2>
          <form
            id="restaurantForm"
            method="post"
            action="/user/signup"
            class="needs-validation"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                id="username"
                type="text"
                class="form-control"
                name="username"
                required
              />
              <div class="invalid-feedback">
                Please provide a valid username.
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                name="email"
                required
              />
              <div class="invalid-feedback">
                Please provide a valid email address.
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                id="password"
                type="password"
                class="form-control"
                name="password"
                minlength="8"
                maxlength="16"
                required
              />
              <div class="invalid-feedback" id="password-feedback">
                <!-- Custom messages will be inserted here by JavaScript -->
              </div>
            </div>

            <button class="btn btn-success" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
