<%layout("/layouts/boilerplate")%>

<body>
  <div class="mt-custom mb-3">
    <div class="signin-container">
      <!-- Left Side: Reset Password Form -->
      <div class="left">
        <div class="form-container">
          <h2 class="text-center mb-3">Update Password</h2>
          <form
          id="restaurantForm"
            action="/user/updatePassword"
            method="post"
            id="resetPasswordForm"
            novalidate
            class="needs-validation"
          >
            <div class="mb-3">
              <input
                id="username"
                type="text"
                class="form-control"
                name="username"
                placeholder="Enter your username"
                required
              />
              <div class="invalid-feedback">Please enter a username</div>
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Enter New Password"
                required
              />
              <div class="invalid-feedback">Please enter a new password.</div>
            </div>
            <button type="submit" class="btn btn-success mb-4">
              Update Password
            </button>
          </form>
           <a href="/user/signin" id="switchToLogin" class="d-flex justify-content-end">
            Remembered your password? Sign In
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

